@font-face {
  font-family: 'gilroybold';
  src: url('fonts/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: 'gilroylight';
  src: url('fonts/Gilroy-Light.otf');
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: gilroybold;
  color: #48b9b1;
}
body {
  background-color: #f4f8f7;
  color: #414142;
  font-family: gilroylight;
}
.nav {
  padding: 20px;
}
.nav .img-wrapper {
  width: 200px;
}
.header {
  display: flex;
  justify-items: center;

  padding: 40px 0px 25px 0px;
}
.header .img-wrapper {
  margin-top: 10px;
}
.header > div {
  width: 50%;
}

.header .slider-wrapper {
  padding-left: 70px;
}
.header .slider-wrapper .max {
  width: 80%;
}
.header .slider-wrapper .points {
  height: 50px;
}
.header .slider-wrapper .title {
  padding-top: 50px;
  font-size: 38px;
}
.header .slider-wrapper h1 {
  font-family: 'gilroybold';
  font-size: 84px;
}
.btn {
  padding: 9px;
  border-radius: 20px;
  /*background-color: #48b9b1;*/
  width: 165px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
}
.white {
  background-color: #fff;
}
.green {
  background-color: #48b9b1;
}
.business {
  padding-top: 50px;
}
.business .logo-business {
  width: 20%;
  display: inline-block;
  padding-right: 40px;
}

.services {
  padding: 10px;
  text-align: center;
}
.services .title-wrapper {
  border-top: 1px solid #414142;
  width: 55%;
  margin: 0 auto;
}
.services .title {
  font-size: 70px;
  color: #48b9b1;
  padding-top: 60px;
}

.services .services-cards {
  display: flex;
  padding: 50px 20px;
}

.services .services-cards .description {
  height: 30px;
  padding: 40px;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

.services .services-cards .description h3 {
  font-size: 62px;
}

.services .services-cards .description p {
  font-size: 30px;
  padding-top: 50px;
}

.services .services-cards .logo {
  width: 40%;
}
.services .services-cards .logo img {
  max-width: 75%;
}
.services .services-cards .description-wrapper {
  width: 60%;
}

.footer {
  height: 200px;
  background-color: #48b9b1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .powered {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}
.services .services-cards .description {
  widows: 30px;
  height: 30px;
  padding: 40px;
}
.row-reverse {
  flex-direction: row-reverse;
}

.title-wrapper {
  text-align: center;
  font-size: 70px;
  padding-top: 80px;
}
.testimonials {
  display: flex;
  justify-content: center;
  padding: 100px 0px 50px 0px;
}
.testimonials .testimonial-cards .image-wrapper {
  display: flex;
  justify-content: center;
}

.testimonials .testimonial-cards .text {
  text-align: center;
}
.testimonials .testimonial-cards .text h4 {
  font-size: 20px;
  color: #414142;
  line-height: 75px;
  font-size: 30px;
}
.testimonials .testimonial-cards .text .explan {
  font-size: 25px;
  /* width: 50%; */
  padding: 0px 30%;
}
.testimonials > div {
  width: 33%;
}
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider h1 {
  color: #414142;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
